name: Test All

on:
  push:
    paths:
      - 'frontend/**'
      - 'lala/**'
  pull_request:
    paths:
      - 'frontend/**'
      - 'lala/**'

jobs:
  build-and-test-frontend:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./frontend

    strategy:
      matrix:
        node-version: [20.x, 18.x, 22.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm install

      - name: Type Check
        run: npx tsc --noEmit
        
      - name: Build
        run: npm run build

  build-and-test-lala:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./lala

    strategy:
      matrix:
        node-version: [20.x, 18.x, 22.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "npm"
          cache-dependency-path: lala/package-lock.json

      - name: Install dependencies
        run: npm install

      - name: Build
        run: npx hardhat compile
      
      - name: Test
        run: npx hardhat test